[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
startapi="uvicorn elliapi:app --reload --host 0.0.0.0"
